export(regions, conformal.glm)

importFrom(stats, lm)
importFrom(stats, glm)
importFrom(stats, model.frame)
importFrom(stats, model.offset)
importFrom(stats, model.response)
importFrom(stats, vcov)
importFrom(stats, predict)
importFrom(stats, predict.glm)
importFrom(stats, dgamma)
importFrom(stats, dnorm)
importFrom(stats, qnorm)
importFrom(stats, coefficients)
importFrom(stats, quantile)

importFrom(MASS, gamma.shape)
importFrom(parallel, mclapply)
importFrom(statmod, dinvgauss)
